#stopwatch {
    color: rgb(127, 7, 213);
    font-style:normal;
  }
  
  .container {
    height: 800px;
    padding: 400px 400px;
    text-align: center;
  }
  
  #display {
    width: 100%;
    font-size: 100px;
    text-align: center;
    margin: 0px auto;
  }
  
  .buttons {
    text-align: center;
  }
  
  #starttimer {
    background-color: rgb(238, 234, 234);
    font-size: 20px;
    font-weight: bolder;
    color: rgb(4, 4, 4);
    border: 3px solid rgb(243, 239, 231);
    border-radius: 10px;
    margin: 10px;
  }
  
  #starttimer:hover {
    background-color: rgb(11, 236, 86);
    color: black;
    border: 3px solid black;
  }
  
  
  #stoptimer {
    background-color: rgb(222, 22, 26);
    font-size: 20px;
    font-weight: bolder;
    color: black;
    border: 3px solid rgb(243, 239, 231);
    border-radius: 10px;
    margin: 10px;
  }
  
  #stoptimer:hover {
    background-color: rgb(230, 114, 6);
    color: rgb(247, 6, 6);;
    border: 3px solid black;
  }
  
  #reset {
    background-color: rgb(238, 234, 234);
    font-size: 20px;
    font-weight: bolder;
    color: rgb(11, 11, 11);
    border: 3px solid rgb(243, 239, 231);
    border-radius: 10px;
    margin: 10px;
  }
  
  #reset:hover {
    background-color: rgb(11, 236, 86);
    color: black;
    border: 3px solid black;
  }