#myForm {
    padding: 50px 500px;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(125, 121, 235)
}

h1 {
    margin: 0px 50px;
    padding: 0px 0px 30px 0px;

}
